<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>Отказано в доступе</title>
    <!-- App favicon -->
    <link rel="shortcut icon" href="/static/images/favicon.ico">

    <!-- Bootstrap Css -->
    <link href="/static/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="/static/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="/static/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

</head>

<body>
    <div class="home-btn d-none d-sm-block">
        <a href="{{url_for('main.index')}}" class="text-dark"><i class="fas fa-home h2"></i></a>
    </div>

    <section class="my-5 pt-sm-5">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="home-wrapper">
                        <div class="mb-5">
                            <a href="index.html" class="d-block auth-logo">
                                <img src="/static/images/logo-dark.png" alt="" height="60"
                                    class="auth-logo-dark mx-auto">
                                <img src="/static/images/logo-dark.png" alt="" height="20"
                                    class="auth-logo-light mx-auto">
                            </a>
                        </div>


                        <div class="row justify-content-center">
                            <div class="col-sm-4">
                                <div class="maintenance-img">
                                    <img src="/static/images/maintenance.svg" alt="" class="img-fluid mx-auto d-block">
                                </div>
                            </div>
                        </div>
                        <h3 class="mt-5">Отказано в доступе</h3>
                        <p>Для входа на эту страницу необходимо обладать другими правами.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- JAVASCRIPT -->
    <script src="/static/libs/jquery/jquery.min.js"></script>
    <script src="/static/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/libs/metismenu/metisMenu.min.js"></script>
    <script src="/static/libs/simplebar/simplebar.min.js"></script>
    <script src="/static/libs/node-waves/waves.min.js"></script>

    <script src="/static/js/app.js"></script>

</body>

</html>