<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="shortcut icon" href="/static/images/favicon.ico">

        <!-- Bootstrap Css -->
        <link href="/static/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="/static/css/icons.min.css" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="/static/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

        <meta charset="utf-8" />
        {% block head %}

        {% endblock %}
    </head>

    <body>
        {% block body %}

        {% endblock %}

        <!-- JAVASCRIPT -->
        <script src="/static/libs/jquery/jquery.min.js"></script>
        <script src="/static/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/static/libs/metismenu/metisMenu.min.js"></script>
        <script src="/static/libs/simplebar/simplebar.min.js"></script>
        <script src="/static/libs/node-waves/waves.min.js"></script>

        <!-- App js -->
        <script src="/static/js/app.js"></script>

        <!-- form mask -->
        <script src="/static/libs/inputmask/min/jquery.inputmask.bundle.min.js"></script>
        <!-- form mask init -->
        <script src="/static/js/pages/form-mask.init.js"></script>

    </body>